.gitattributes export-ignore  
.gitignore export-ignore

*.zip export-ignore
*.lnk export-ignore
*.desktop export-ignore
*sublime* export-ignore

dev export-ignore
node_modules export-ignore
